[submodule "external/mab-nagios-plugins"]
	path = external/mab-nagios-plugins
	url = https://github.com/chaomodus/mab-nagios-plugins
[submodule "external/nguttman-nagios-checks"]
	path = external/nguttman-nagios-checks
	url = https://github.com/nguttman/Nagios-Checks
[submodule "external/nagios-plugins-rabbitmq"]
	path = external/nagios-plugins-rabbitmq
	url = https://github.com/jamesc/nagios-plugins-rabbitmq/
[submodule "external/zookeeper-monitoring"]
	path = external/zookeeper-monitoring
	url = https://github.com/andreisavu/zookeeper-monitoring
[submodule "external/justintime-nagios-plugins"]
	path = external/justintime-nagios-plugins
	url = https://github.com/justintime/nagios-plugins/
[submodule "external/check_postgres"]
	path = external/check_postgres
	url = https://github.com/bucardo/check_postgres
[submodule "external/check_ngixnx_status"]
	path = external/check_ngixnx_status
	url = https://github.com/regilero/check_nginx_status
[submodule "external/haproxy-nagios-scripts"]
	path = external/haproxy-nagios-scripts
	url = https://github.com/tatref/nagios-scripts
[submodule "external/nagios-plugin-graylog2"]
	path = external/nagios-plugin-graylog2
	url = https://github.com/CygnusNetworks/nagios-plugin-graylog2
[submodule "external/devops_public"]
	path = external/devops_public
	url = https://github.com/DennyZhang/devops_public
